<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="header">
    <h1>Bienvenido a nuestra tienda</h1>
    <h2>Lista de Productos</h2>
    <a href="/api/cart">Ver Carrito</a>
  </div>
    <div class="filter">
    <form action="/" method="GET">
      <label for="category">Filtrar por categoría:</label>
      <select name="category" id="category">
        <option value="">Todas</option>
        {{#each categories}}
          <option value="{{this}}" {{#ifEquals ../selectedCategory this}}selected{{/ifEquals}}>{{this}}</option>
        {{/each}}
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="products">
    <ul>
      {{#each products}}
        <li>
          <strong>Nombre:</strong> 
          <a href="/api/products/{{_id}}">{{name}}</a><br>
          <strong>Precio:</strong> ${{price}}<br>
          <strong>Descripción:</strong> {{description}}<br>
          <strong>Stock:</strong> {{stock}}<br>
          <strong>Categoría:</strong> {{category}}<br>
          
          <!-- Botón para agregar al carrito -->
          <a href="/api/cart/add/{{_id}}" class="add-to-cart">Agregar al carrito</a>
        </li>
      {{/each}}
    </ul>
  </div>
  <!-- Paginación -->
<div class="pagination">
  {{#if (gt currentPage 1)}}
    <a href="/?page={{subtract currentPage 1}}{{#if selectedCategory}}&category={{selectedCategory}}{{/if}}">
      Anterior
    </a>
  {{/if}}

  {{#each (range 1 totalPages)}}
    <a href="/?page={{this}}{{#if ../selectedCategory}}&category={{../selectedCategory}}{{/if}}" 
       class="{{#ifEquals ../currentPage this}}active{{/ifEquals}}">
      {{this}}
    </a>
  {{/each}}

  {{#if (lt currentPage totalPages)}}
    <a href="/?page={{add currentPage 1}}{{#if selectedCategory}}&category={{selectedCategory}}{{/if}}">
      Siguiente
    </a>
  {{/if}}
</div>

</body>
</html>








